body {
  background: #f5f6f7;
}

.poppins{
  font-family: $poppins;
  font-weight: 700;
}

.section {
  padding: 100px 0;
}

.background{
  &__color{
    &-gray{
      background: #f5f7fa;
    }
  }
}

.dividers{
  display: flex;
  width: 1110px;
  position: fixed;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  .divider{
    border-right: 1px solid #e3e5e7;
    flex-basis: 20%;
    height: 100vh;
    &:first-child{
      border-left: 1px solid #e3e5e7;
    }
  }
}

main{
  overflow: hidden;
}

.pointer{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #222222;
  border-radius: 50%;
  z-index: 111;
  pointer-events: none;
  transition: all .05s ease;
  box-sizing: border-box;
}