body {
  background: #f5f6f7;
}

.poppins{
  font-family: $poppins;
  font-weight: 700;
}

.section {
  padding: 100px 0;
}

.background{
  &__color{
    &-gray{
      background: #f5f7fa;
    }
  }
}

