// Color Variables
$body-color: #fff;
$white: #fff;
$primary-color: #8C8AFF;
$secondary-color: #44D6A9;
$black: #000;
$text-color: #8a8d91;
$text-color-dark: #132c47;

// Font Variables
$primary-font: 'BebasNeue-Bold';
$secondary-font: 'BebasNeue-Regular';
$poppins: 'Poppins', sans-serif;
$opensans: 'Open Sans', sans-serif;
