<section class="case-syudy-section section">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="nat-case-study-slider-right">
          <div class="nat-case-study-slider-item" data-title="Virtual Reality">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study-1">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                  Virtual Reality
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat-case-study-slider-item" data-title="Augmented Reality">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study-2">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                  Augmented Reality
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat-case-study-slider-item" data-title="Mixed Reality">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study-3">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                  Mixed Reality
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="nat-section-title">Case Studies</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="nat-case-study-slider-left">
          <div class="nat-case-study-slider-item" data-title="Case Studies 1">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study-1">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                Case Studies 1
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat-case-study-slider-item" data-title="Case Studies 2">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study-2">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                Case Studies 2
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat-case-study-slider-item" data-title="Case Studies 3">
            <div class="nat-case-study-thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study-3">
            </div>
            <div class="nat-case-study-video-icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="nat-case-study-content">
              <h3 class="nat-case-study-content-title">
                Case Studies 3
              </h3>
              <p class="nat-case-study-content-description">
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>