<section class="nat__case section">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="nat__case__slider right" id="nat__case__slider-right">
          <div class="nat__case__slider-item" data-title="Virtual Reality">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Virtual Reality
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat__case__slider-item" data-title="Augmented Reality">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Augmented Reality
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat__case__slider-item" data-title="Mixed Reality">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-1.jpg" alt="case-study">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Mixed Reality
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Case Studies</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="nat__case__slider left" id="nat__case__slider-left">
          <div class="nat__case__slider-item" data-title="Case Studies 1">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study-1">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Case Studies 1
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
              <a href="">
                <svg width='35' height='7'><path fill-rule='evenodd' opacity='.8' d='M35 7L0 6.999V4.846h28.406V0L35 7z'/></svg>
              </a>
            </div>
          </div>
          <div class="nat__case__slider-item" data-title="Case Studies 2">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Case Studies 2
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
          <div class="nat__case__slider-item" data-title="Case Studies 3">
            <div class="thumbnail">
              <img src="images/case-study/vedio-background-2.jpg" alt="case-study">
            </div>
            <div class="icon">
              <span><i class="fa fa-play"></i></span>
            </div>
            <div class="content">
              <h3>
                Case Studies 3
              </h3>
              <p>
                Training, education, and collaboration are only a few areas where VR is
                transforming how companies sell, market, and deliver their products to customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>