<section class="group-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="nat-group-logo">
          <img src="images/logo-section/pbs-logo.png" alt="PBS">
          <img src="images/logo-section/berkshire-logo.png" alt="PBS">
          <img src="images/logo-section/epri-logo.png" alt="PBS">
          <img src="images/logo-section/eei-logo.png" alt="PBS">
          <img src="images/logo-section/drfirst-logo.png" alt="PBS">
          <img src="images/logo-section/project-logo.png" alt="PBS">
        </div>
      </div>
    </div>
  </div>
</section>