<section class="home">
  <div class="home__social">
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instragram</a></li>
      <li><a href="#">Youtube</a></li>
    </ul>
  </div>
  <div class="home__banner">
    <div class="content">
      <h1>Immersive experiences for
        the digital world</h1>
      <div class="content__action">
        <a href="">Start your Project</a>
        <a href="">See What We Do</a>
      </div>
    </div>
  </div>
</section>