<section class="home">
  <div class="navigation">
    <div class="navigation__logo">
      <img src="images/home-image/logo.png" alt="logo">
    </div>
    <div class="navigation__menu">
      <svg width="21px" height="21px">
        <path fill-rule="evenodd" fill="rgb(41, 44, 55)"
          d="M17.406,12.281 L17.406,8.719 L21.000,8.719 L21.000,12.281 L17.406,12.281 ZM17.406,0.000 L21.000,0.000 L21.000,3.594 L17.406,3.594 L17.406,0.000 ZM8.707,17.415 L12.293,17.415 L12.293,21.000 L8.707,21.000 L8.707,17.415 ZM8.719,8.719 L12.281,8.719 L12.281,12.281 L8.719,12.281 L8.719,8.719 ZM8.719,0.000 L12.281,0.000 L12.281,3.594 L8.719,3.594 L8.719,0.000 ZM0.000,8.719 L3.594,8.719 L3.594,12.281 L0.000,12.281 L0.000,8.719 ZM0.000,0.000 L3.594,0.000 L3.594,3.594 L0.000,3.594 L0.000,0.000 ZM3.585,21.000 L0.000,21.000 L0.000,17.415 L3.585,17.415 L3.585,21.000 ZM21.000,21.000 L17.415,21.000 L17.415,17.415 L21.000,17.415 L21.000,21.000 Z" />
      </svg>
    </div>
    <div class="navigation__item">
      <div class="navigation_background_diveders">
        <div class="navigation_diveder"></div>
        <div class="navigation_diveder"></div>
        <div class="navigation_diveder"></div>
        <div class="navigation_diveder"></div>
        <div class="navigation_diveder"></div>
      </div>
      <div class="close_button">+
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="home__social">
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instragram</a></li>
      <li><a href="#">Youtube</a></li>
    </ul>
  </div>
  <div class="home__banner">
    <div class="content">
      <h1>Immersive experiences for
        the digital world</h1>
      <div class="content__action">
        <a href="">Start your Project</a>
        <a href="">See What We Do</a>
      </div>
    </div>
  </div>
</section>